<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mode.strategy.mapper.StrategyMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.mode.strategy.model.Strategy">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="strategy_name" jdbcType="VARCHAR" property="strategyName" />
        <result column="class_path" jdbcType="VARCHAR" property="classPath" />
    </resultMap>

    <select id="selectByStrategyName" resultType="com.example.demo.mode.strategy.mapper.StrategyMapper">
        select * from t_strategy where strategy_name = #{strategyName}
    </select>

</mapper>