<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sihui.mybatis.mapper.UserMapper">
  <parameterMap id="userQuery" type="com.sihui.mybatis.model.UserQuery">
    <parameter property="id" jdbcType="INTEGER" javaType="INTEGER"/>
    <parameter property="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
  </parameterMap>
  <resultMap id="BaseResultMap" type="com.sihui.mybatis.model.User">
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  <insert id="insert" parameterType="com.sihui.mybatis.model.User">
    insert into t_user (id, name, age
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, age
    from t_user
  </select>
  <select id="selectByQuery" parameterMap="userQuery" resultType="com.sihui.mybatis.model.User">
    select id, name, age
    from t_user
    <where>
      <if test="id != '' and id != null">
        id = #{id}
      </if>
      <if test="name != '' and name != null">
        and name = #{name}
      </if>
    </where>
  </select>
</mapper>